/*estilos.css*/

body {
    margin: 0;
    font-size: 16 px;

}

#tela {
    border: 5px solid #800;
    width: 100vw;
    height: 50vh;
    
}

#tela img {
    background-color: aqua;
    width: 100%;
    height: 100%;
}

#paragrafos {

}

#dobro {
    font-size: 2em;

}

#triplo {
    font-size: 3em;

}