/* estilos.css */
body {
    background-color: #800000;
}

.carta {

    border-width: 5px; /* espessura */
    border-style: solid; /* estilo */
    border-color: #f0ece2; /* cor */

}

.foto {
    
    background-color: antiquewhite;
    border-width: 5px; /* espessura */
    border-style: solid; /* estilo */
    border-color: #f0ece2; /* cor */

}

.p {

    

}